[submodule "codex"]
	path = codex
	url = https://github.com/evmitran_microsoft/codexu-codex.git
[submodule "ai-developer-toolkit"]
	path = ai-developer-toolkit
	url = https://github.com/evmitran_microsoft/ai-developer-toolkit.git
